html,body {font-family: sans-serif;width:100%;}

#page-content-wrapper{
	
	width: 100%;
	height:100%;
}
#map {width: 100%; height: 700px}
#event {overflow: auto; width: 500px; height: 100px}
.linkOFF {color: darkblue}
.linkON {color: white; background-color: darkblue}
.button {
  position:absolute;
   top:0;
   right:0;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
