{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Sign Up - What's Going on</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
</head>
<body>
  <section class="cid-qCFZ8uykjK mbr-fullscreen mbr-parallax-background" id="header15-s" data-rv-view="3">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
      <div class="row">
        <div class="mbr-white col-lg-8 col-md-7 content-container">
          <br><br><br><br><br>
          <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">WHAT'S GOING ON</h1>
          <p class="mbr-text pb-3 mbr-fonts-style display-5">We help find events around you, and make fun.</p>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="form-container">
            <div class="media-container-column">
              <form class="mbr-form" action="{%url 'register' %}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control px-3" name="username" placeholder="Username" required="" id="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control px-3" name="password" placeholder="Password" required="" id="password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control px-3" name="password_again" placeholder="Confirm Password" required="" id="password_again">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control px-3" name="email" placeholder="Email" required="" id="email">
                </div>
                <div class="form-group align-left mbr-white">
                  <b>Interests</b>, pick at least one:<br>
                  <label class="checkbox-inline"><input type="checkbox" name="tags" value="Study" id="id_tags_0">Study</label>
                  <label class="checkbox-inline"><input type="checkbox" name="tags" value="Sports" id="id_tags_1">Sports</label>
                  <label class="checkbox-inline"><input type="checkbox" name="tags" value="Dating" id="id_tags_3">Dating</label>
                  <label class="checkbox-inline"><input type="checkbox" name="tags" value="Entertainment" id="id_tags_2">Entertain</label>
                </div>
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <li class="align-left">{{error}}</li>
                  {% endfor %}
                {% endfor %}
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-secondary btn-form display-7" value="Submit">
                </span>
              {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mbr-arrow hidden-sm-up" aria-hidden="true">
      <a href="login">
        <p class="mbr-white align-center"><b>To Login</b></p>
      </a>
    </div>
  </section>
  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
</body>
</html>